*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:poppins
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --main-color: #cab273;
    --main-light-color:#fffbf0;
    --secondary-color:#551756;
}
header{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.header-top-bar{
    border-bottom: 1px solid#f5f5f5;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top-bar span{
    color: #474747;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    font-weight: 400;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.logo{
    height: 60px;
}
.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}